
@{
    ViewBag.Title = "Index";
}

@section ScriptContent{
    <script type="text/javascript">
        $(document).ready(function(){
            console.log('Carregou.')
        });
    </script>
}


<h2>Index</h2>



